<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "a588975a-92ea-49a2-88a2-34d8f7f51653"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Zdalny otwieracz NyanCata", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @{
                <script>
                    console.log(@DateTime.Now.Hour + ":" + @DateTime.Now.Minute + " " +@DateTime.Now.Day + "." + @DateTime.Now.Month);
                </script>
                Random r = new Random(DateTime.Now.Millisecond);
                var a = r.Next(0, 50);
                if (DateTime.Now.Hour == 20 && DateTime.Now.Minute == 37) //godzina do tyłu
                {
                    <p><i><font size="1" color="yellow">Masz ty rozum i godność człowieka żeby takie rzeczy robić?</font></i></p>
                    <img src="http://bi.gazeta.pl/im/3/9524/z9524133Q,Jan-Pawel-II.jpg" />
                    <style>
                        body {
                            background-color: black;
                        }
                    </style>
                }
                else if (DateTime.Now.Day == 26 && DateTime.Now.Month == 8)
                {
                    <p><i><font size="1">Najlepszego Pietrek</font></i></p>
                    <img src="http://mtbkrapkowice.pl/wp-content/uploads/2014/10/tort-urodzinowy.jpg" />
                }
                else if (a == 2)
                {
                    <p><i><font size="1">"When life gives you lemons, make lemonade" ~CJ</font></i></p>
                }
                else if (a == 5)
                {
                    <p><i><font size="1">"Pierwsza zasada Bezprzewodowego Uruchamiacza Nyan Cata: nie rozmawiamy o Bezprzewodowym Uruchamiaczu Nyan Cata"</font></i></p>
                }
                else if (a == 7)
                {
                    <p><i><font size="1">"Jeśli kiedykolwiek miałbym raka, nazwałbym go Bezprzewodowym Uruchamiaczem NyanCata" ~ofiara BUNC'a</font></i></p>
                }
                else if (a == 10)
                {
                    <p><i><font size="1">"To mały krok dla człowieka, ale wielki krok do piekła" ~Armstrong o Brzezprzewodowym Uruchamiaczu Nyan Cata</font></i></p>
                }
            }

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>